<% for (var i=0; i<post.length; i++) { %>
<div>
	<h2><%= post[i].title %></h2>
</div>
<div>
	<img src="uploads/<%=post[i].imageID %>" /> 
</div>



<form action="/posts/<%= post[i].id %>/comments" method="post">
	<div> 
		<h4>Comment</h4>
		<input id='comment' type='text' name='comment'>
		<input type="submit" />
	</div>
</form>

	<% post[i].Comments.forEach(function(item) { %>
	<div> 
		<p> <%= item.comment %> </p>
		
	</div>
	<% })%>

<% } %>

<a href="/upload">Write</a> 

