<% for (var i=0; i<post.length; i++) { %>
<div>
	<h2><%= post[i].title %></h2>
</div>
<div> 
	<p> <%= post[i].comment %> </p>
</div>
<div>
	<img src="uploads/<%=post[i].imageID %>" /> 
</div>
<form>

</form>
<% } %>

<a href="/upload">Write</a> 