<html>
<head>

    <title>Fakestagram</title>
 
   <link rel="stylesheet" href="../styles/insta.css">
   <link rel="stylesheet" href="../styles/bootstrap.min.css">

</head>

<body>

<div>
	<nav>
		<ul class="myNavbar">
		  <li><a href="/insta"><img id="logoSize" src="../img/instaLogo.png"></a></li>
		  <li><input id="searchSize" type='text' name='search' placeholder="Search">
		  <li ><a href="/upload"><img class="instaSize" src="../img/insta.png"></li></a>
		  <li ><a href="mailto:calabrese.eric@gmail.com"><img class="emailSize" src="../img/email.png"></li></a>
		</ul> 
	</nav>    

    <div  class="screen container-fluid">
    	<div class="row">
	    	<div class="col-xs-12 col-md-6 col-md-offset-3">
	    		<div class="post panel panel-default">
	    			
					<form action="/upload" method="post" enctype="multipart/form-data">
						<input type="file" name="file-to-upload" />

						<div> 
							<h4>Title</h4>
							<input id='title' type='text' name='title'>
						</div>
						<div>
							<input type="submit" />
						</div>
					</form>

					<a href="/insta">Insta</a> 

				</div>
			</div>	
		</div>
	</div>
</div>

	<script src="../styles/jquery-3.2.0.min.js"></script>
	<script src="../styles/bootstrap.min.js"></script>

</body>
</html>