<form action="/upload" method="post" enctype="multipart/form-data">
	<input type="file" name="file-to-upload" />

	<div> 
		<h4>Title</h4>
		<input id='title' type='text' name='title'>
	</div>
	<div> 
		<h4>Comment</h4>
		<input id='comment' type='text'name='comment'>
	</div>
	<div>
		<input type="submit" />
	</div>
</form>