.instaContainer {
    max-width: 1200px;
    display: table;
    width: 100%;
    padding: 0 30px;
    height: 60px;
    border-bottom: solid 1px #e3e3e3;
}
.navCell {
    display: table-cell;
    width: auto;
    vertical-align: middle;
}
.navCell input {
    width: 100%;
    padding: 0 5px;
    font-size: 14px;
    border-radius: 3px;
    border: solid 1px #e3e3e3;
    font-size: 11px;
    padding: 3px 8px;
}
.navCell input.empty {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
.logo {
    width: 251px;
    text-align: center;
}
.navCell.logo i {
    color: black;
    font-size: 22px;
    vertical-align: middle;
    border-right: black solid 1px;
    padding-right: 12px;
    line-height: 21px;
}
.faLinks {
    width: 100px;
    text-align: center;
}
.faLinks i {
    color: black;
    font-size: 24px;
    vertical-align: middle;
}
.searchContainer {
    margin: 0 auto;
    width: 300px;
}

.footer a i {
    font-size: 30px;
    color: black;
}
a:hover {
    color: initial !important;
    text-decoration: none !important;
}
.marginRight20 {
    margin-right: 20px;
}
.screen {
    background-color: #F4F4F4;
    padding-top: 50px;
    padding-bottom: 20px;
}
.post {
    width: 50%;
    display: block;
    margin: 0 auto;
}
.instaControls form {
    display: inline-block;
    margin: 0;
}
.instaControls {
    float: right;
    padding: 8px 10px !important;
}
.instaControls button {
    border-radius: 3px;
}
.panel img {
    width: 100%;
}
.title {
    display: inline-block;
}
.title h3 {
    margin: 8px 10px;
    font-size: 22px;
}
.comment {
    margin-top: 10px;
    text-align: center;
}
.commentInput {
    border: solid 1px #e3e3e3;
    font-size: 12px;
    padding: 5px;
}
#commentButton {
    font-size: 12px;
    padding: 5px;
    border-radius: 3px;
}
.comments {
    display: table;
    width: 100%;
}
.comments p {
    display: table-cell;
    width: 100%;
    padding-left: 10px;
}
.comments button {
    display: table-cell;
    width: 30px;
    margin-right: 10px;
    vertical-align: middle;
}
footer {
    text-align: center;
}
.footerFonts {
    margin: 20px 0 5px;
}
.footerFonts a:first-child {
    margin-right: 5px;
}
.footerFonts i {
    color: #000000;
    font-size: 28px;
}


